body{background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 { 
    font-size: 40px;
    text-align: center;
background-color: silver;
}
.footer{font-size: 0,9cm;
        font-family: 'Times New Roman', Times, serif;
}
td{color: white;}